[Unit]
Description=KLD7 Radar Wifi Service. Spins up hotspot if wifi is disconnected for a period
After=multi-user.target

[Service]
User=radar
WorkingDirectory=/home/radar/radarwifi-service
ExecStart=stdbuf -o0 /home/radar/.pyenvs/default/bin/python wificheck.py
Restart=no

[Install]
WantedBy=multi-user.target