[Unit]
Description=KLD7 Radar
After=multi-user.target

[Service]
User=radar
WorkingDirectory=/home/radar/radar-service
ExecStart=stdbuf -o0 /home/radar/.pyenvs/default/bin/python main.py -d /dev/ttyAMA0
Restart=no

[Install]
WantedBy=multi-user.target
