html, body {
    background-color: gray;
}
body {
  margin:0;
}
p {
    color: black;
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  width:100%
}
table.radar {
  table-layout: fixed;
  text-align: left;
  word-wrap: break-word;
}
table.radar tr:nth-child(odd) {
    background-color: white;
}
table.radar tr:nth-child(even) {
    background-color: lightgray;
}
thead, th {
  background-color: darkgray;
}
.col-width-5 {
  width:5%
}
.col-width-10 {
  width:20%
}
.col-width-10 {
  width:20%
}
.col-width-40 {
  width:40%
}
.col-width-60 {
  width:60%
}
.col-width-80 {
  width:80%
}
.parameter-name {
  width:25%;
}
.parameter-value{
  width:5%;
}
.parameter-updates {
  width:80%;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}